html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content{
    width: calc(100% - 300px);
    float: right;
}

.side-nav {
    padding: 0;
    margin: 0;
    font-family: Saira Condensed, Lato, sans-serif;
    box-sizing: border-box;
    background-color: rgb(70, 70, 190);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5%;
    width: 300px;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    z-index: 400;
    position: fixed;
}

.nav-links {
    color: white;
    justify-items: center;
}

.nav-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-image: url('../img/image.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

ul {
    list-style: none;
    line-height: 50px;
}

.home-container {
    border: 1px solid white;
    min-height: 100vh;
    text-align: left;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    border: 1px solid rgb(245, 0, 245);
    min-height: 100vh;
    text-align: left;
    padding: 30px;
    background-color: rgb(245, 0, 245);
}

.project-container {
    border: 1px solid rgb(70, 190, 70);
    min-height: 100vh;
    text-align: left;
    padding: 30px;
    background-color: rgb(70, 190, 70);
}

.contact-container {
    height: 100vh;
    text-align: left;
    padding: 30px;
    background-image: linear-gradient(90deg, lightblue, purple)
}

h1 {
    color: #114b7a;
    font-size: 2rem;
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    color: #114b7a;
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    width: 80%;
    line-height: 1.5;
    margin-bottom: 40px;
    letter-spacing: .02em;
    position: relative;
}

h3 {
    color: white;
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    width: 40%;
    line-height: 2.5;
    letter-spacing: .02em;
    padding: 200px 0px 0px 0px;
}

h4 {
    color: white;

}

a.active,
nav ul li a:hover {
    border-bottom: 5px solid black;
    text-decoration: none !important;
    color: white;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.ml-3 {
    justify-items: content;
}

.btn-success {
    background-color: black !important;
}

.profile-links {
    display: flex;
}

div.profile-links {
    align-items: center;
}